{% extends 'base.html.twig' %}

{% block main %}
    {% for msg in app.session.flashbag.get('message') %}
        <div id="msg" class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('success') %}
        <div id="msg" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            {{ msg }}
        </div>
    {% endfor %}
    <h3><u>Items In Your Cart</u>: <strong>{{ products|length }}</strong></h3>

    <div class="container body-content">
        <div class="row">
            {% for product in products %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ product.name }}</h2>
                        </header>

                        <a href="{{ path('product_details', {'id': product.id} ) }}"><img src="{{ asset('uploads/images/' ~ product.pictureUrl) }}" width="300" height="200" ></a>
                        <p>Price: <strong>${{ product.price|number_format(2, '.', ',') }}</strong></p>

                        <p>
                            {{ product.content }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="{{ path('home_index') }}">back &raquo;</a>
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('product_cart_remove', {'id': product.id}) }}">remove &raquo;</a>
                                <a class="btn btn-success btn-xs" href="{{ path('product_cart_buy', {'id': product.id}) }}">buy &raquo;</a>
                            </div>
                        </footer>
                    </article>


                </div>
            {% endfor %}

            <footer>
                <div class="pull-right">
                    <h3>Total Cart Value: <strong>${{ total|number_format(2, '.', ',') }}</strong></h3>
                    <h3>Your Current Balance: <strong>${{ balance|number_format(2, '.', ',') }}</strong></h3>
                    <h3>Balance after purchase: <strong>${{ moneyLeft|number_format(2, '.', ',') }}</strong></h3>
                    <a class="btn btn-success" href="{{ path('all_product_cart_buy') }}">buy all products</a>
                </div>
            </footer>

        </div>
    </div>

{% endblock %}